body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background:  #f3f9f9;
}

#app {
  margin: 0;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
}